h1 {
    font-size: 300%;
    margin-bottom: 8px;
}

h2 {
    font-size: 200%;
    margin-top: 16px;
}

.main {
    position: absolute;
    padding: 64px;
    line-height: 1.15;
    font-family: 'Outfit', sans-serif;
}

#to {
    clip-path: polygon(0% 0%, 25% 0%, 0% 85%);
}

a {
    color: var(--black);
    text-decoration: underline;
    display: block;
    margin-bottom: 4px;
}

p {
    margin-bottom: 4px;
}

#to a {
    color: var(--white);
}

:root {
    --white: #fff0c0;
    --black: #1a1a46;
}